<nav class="navbar navbar-expand-md orange-bg">
    <a class="navbar-brand" routerLink="/profile">
      <img src="assets/images/RF_Logo-02.svg" class="img-fluid" width="400" alt="Ride it Forward">
    </a>
    <!--<div class="navbar-nav mr-auto">
    <button type="button" class="btn btn-custom border-black text-mont" >Logout</button>
    </div>-->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a class="nav-link text-mont" href="" (click)="onLogout()">Logout</a>
      </li>
  </ul>
  </nav>
