<app-navbar></app-navbar>
<div class="container">
    <div class="row"> 
    <div class="col-xs-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2">
    <div>
        <form [formGroup]="donateForm" (ngSubmit)="onSubmit()">
            <h3 class="text-center text-mont">awesome</h3>
            <h6 class="text-center">Please fill out the form below <i class="fas fa-chevron-circle-down"></i></h6>
            <hr>
            <div formGroupName="userData">
            <div class="form-group">
                <div class="row mt-4">
                    <div class="col-md-6">
                        <input 
                        type="text"
                        id="name"
                        formControlName="name"
                        class="form-control form-control-lg"
                        placeholder="Name">
                        <span class="form-text" 
                            *ngIf="!donateForm.get('userData.name').valid && donateForm.get('userData.name').touched">
                            Please enter a name</span>
                    </div>
                    <div class="col-md-6">
                        <input 
                        type="email"
                        id="email"
                        formControlName="email"
                        class="form-control form-control-lg"
                        placeholder="Email">
                        <span
                            *ngIf="!donateForm.get('userData.email').valid && donateForm.get('userData.email').touched">
                            Please enter a valid email</span>
                    </div>
                </div>        	
            </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <select 
                        id="nonprofit"
                        class="custom-select-lg form-control"
                        formControlName="nonprofit"
                        placeholder="Select Local Nonprofit">
                            <option value="Search" [disabled]="true">Search Local Nonprofits</option>
                            <!--<option disabled selected>Search Local Nonprofits</option>-->
                            <option value="St. Louis BWorks">St. Louis BWorks</option>
                            <option value="Great Rivers Greenway">Great Rivers Greenway</option>
                            <option value="MO Bike Fed">MO Bike Fed</option>
                            <option value="Trailnet">Trailnet</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select 
                        id="amount"
                        class="custom-select-lg form-control"
                        formControlName="amount">
                            <option value="Amount" [disabled]="true">Donation Amount</option>
                            <!--<option disabled selected>$$$</option>-->
                            <option [value]="totalSavings">Total Savings: $ {{ totalSavings}}</option>
                            <option [value]="halfSavings">50% of Savings: $ {{ halfSavings }}</option>
                            <option [value]="quarterSavings">25% of Savings: $ {{ quarterSavings }}</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>        	
            </div>
            <div class="form-group">
                <textarea
                type="text"
                id="details"
                class="form-control form-control-lg" rows="5" id="comment"
                formControlName="details"
                placeholder="Additional Details">
                </textarea>
            </div>
            <!--<div class="col-md-12 mt-2">
                <img src="assets/images/hmu-01.svg" class="mx-auto d-block" style="width:140px;" alt="Holler!">
            </div>-->
            <div class="form-group text-center">
                <button 
                type="submit" 
                class="btn btn-lg btn-custom border-2 text-mont"
                [disabled]="!donateForm.valid">SUBMIT</button>
            </div>
        </form>
    </div>
    </div>
    <hr>
    </div>
    <div class="modal" id="myModal">
        <div class="modal-dialog" *ngIf="submitted">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close orange-text" (click)="closeModal()">&times;</button>
                    <h4 class="text-center text-mont mt-3">HECK YEAH! <i class="far fa-smile"></i></h4>
                    <hr>
                    <h6 class="text-center">Thanks for your donation, {{ donateForm.get('userData.name').value }}! <br>Your contribution helps to create safer streets <br> and happier riders!</h6>
                    <ul class="mb-4">
                        <li>Email: {{ donateForm.get('userData.email').value }}</li>
                        <li>Nonprofit: {{ donateForm.get('nonprofit').value }}</li>
                        <li>Amount: $ {{ donateForm.get('amount').value }}</li>
                        <li *ngIf="donateForm.get('details').value">Additional Details: {{ donateForm.get('details').value }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>