<app-navbar></app-navbar>
<div *ngIf="!isFetching">
<div class="container mt-5 mb-5">
    <div class="row" *ngFor="let data of loadedAthleteData">
        <div class="col-xs-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2 text-center">
            <h4 class="text-mont">Nice work, {{ data.firstname }}!</h4>
            <h6>Your year-to-date fuel savings are ${{ totalFuelSavings }}</h6>
            <hr>
            <h6><i class="fas fa-money-bill-wave"></i> Keep it up!</h6>
            <br>
            <p>*Fuel savings are based on regional gas price average.</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2 text-center" *ngIf="isFetching">
        <app-loading-spinner></app-loading-spinner>
    </div>
</div>
<div class="col-md-12 mt-5">
    <img src="assets/images/bike-01.svg" class="mx-auto d-block img-fluid" style="width: 200px;" alt="Money!">
  </div>
<div class="container mt-3 mb-5">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2 text-center">
            <button type="button" class="btn btn-custom btn-lg text-mont" routerLink="/donate">Donate My Savings</button>
        </div>
    </div>
</div>
</div>